@use "@styles/color";
@use "@styles/font";

.footer {
  border: 1px dashed black;
  background-color: color.$gray-50;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  color: white;

  @media (width < 500px) {
    flex-direction: column;
    background-color: cadetblue;
    display: flex;
    align-items: center;
  }
}

.footer ul {
  gap: 1.5em;
  width: 261px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 18px;
  margin-bottom: 18px;

  @media (width < 500px) {
    order: 1;
  }
}

.footer ul li a {
  text-decoration: none;
  color: color.$gray-400;
}

.logo {
  width: 160px;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;

  @media (width < 500px) {
    order: 2;
    justify-content: center;
    margin-top: 9px;
    margin-left: 30px;
  }
}

.logo img {
  width: 23px;
}

.resetlist {
  margin: 0;
  padding: 0;
}

.version {
  font-family: font.$text-xs-regular;
  color: color.$gray-500;
  max-width: 160px;
  margin-top: 18px;
  margin-bottom: 18px;
  flex-grow: 1;
  margin-left: 32px;

  @media (width < 500px) {
    order: 3;
    margin-right: 34px;
    margin-top: 24px;
  }
}
