@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  // outline: 1px solid black;

  .children {
    color: color.$gray-700;
  }

  &.sm {
    /* 2 pixels off maybe an invisible border is the box shadow not border */
    height: 16px;
    width: 16px;
    border-radius: 6px;
  }

  &.md {
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }

  &.default {
    border: 1px solid color.$gray-300;
    background: white;
  }

  &.hover {
    border: 1px solid color.$primary-600;
    background: color.$primary-50;
  }

  &.focused {
    border: 1px solid color.$primary-300;
    background: white;

    /* Focus ring/4px primary-100 */
    box-shadow: 0 0 0 4px #f4ebff;
  }

  &.disabled {
    border: 1px solid color.$gray-200;
    background: color.$gray-100;
  }
}
