@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.container {
  display: flex;
  flex-direction: column;
  // max-width: 320px;

  &.select {
    width: 320px;
    height: 44px;
    background-image: url("./icons/person.svg");
  }

  &.label {
    color: color.$gray-700;
    font: font.$text-md-medium;

    /* Text sm/Medium */
    // font-family: Inter;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 20px; /* 142.857% */
  }

  &.hint {
    color: color.$gray-500;
    font: font.$text-md-regular;

    /* Text sm/Normal */
    // font-family: Inter;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 20px; /* 142.857% */
  }
  &.option {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99992 9.16667C8.15897 9.16667 6.66658 7.67428 6.66658 5.83333C6.66658 3.99238 8.15897 2.5 9.99992 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  }
  &.empty {
    &.option {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99992 9.16667C8.15897 9.16667 6.66658 7.67428 6.66658 5.83333C6.66658 3.99238 8.15897 2.5 9.99992 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    }
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px solid color.$gray-300;
    background: white;

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    font: font.$text-md-regular;

    &.placeholder {
      color: color.$gray-500;
      font: font.$text-md-regular;

      // /* Text md/Normal */
      // font-family: Inter;
      // font-size: 16px;
      // font-style: normal;
      // font-weight: 400;
      // line-height: 24px; /* 150% */
    }
  }

  &.filled {
    &.option {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99992 9.16667C8.15897 9.16667 6.66658 7.67428 6.66658 5.83333C6.66658 3.99238 8.15897 2.5 9.99992 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    }
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px solid color.$gray-300;
    background: white;

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    font: font.$text-md-regular;

    &.placeholder {
      color: color.$gray-900;
      font: font.$text-md-regular;

      /* Text md/Normal */
      //   font-family: Inter;
      //   font-size: 16px;
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 24px; /* 150% */
    }
  }

  &.focused {
    &.option {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99992 9.16667C8.15897 9.16667 6.66658 7.67428 6.66658 5.83333C6.66658 3.99238 8.15897 2.5 9.99992 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    }
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px solid color.$primary-300;
    background: white;
    font: font.$text-md-regular;

    /* Shadow/xs focused 4px primary-100 */
    box-shadow:
      0 0 0 4px #f4ebff,
      0 1px 2px 0 rgb(16 24 40 / 5%);

    &.placeholder {
      color: color.$gray-900;
      font: font.$text-md-regular;

      /* Text md/Normal */
      //   font-family: Inter;
      //   font-size: 16px;
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 24px; /* 150% */
    }
  }

  &.disabled {
    &.option {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99992 9.16667C8.15897 9.16667 6.66658 7.67428 6.66658 5.83333C6.66658 3.99238 8.15897 2.5 9.99992 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    }
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px solid color.$gray-300;
    background: color.$gray-50;
    font: font.$text-md-regular;

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);

    &.placeholder {
      color: color.$gray-500;
      font: font.$text-md-regular;

      /* Text md/Normal */
      //   font-family: Inter;
      //   font-size: 16px;
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 24px; /* 150% */
    }
  }

  &.open {
    &.option {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99992 9.16667C8.15897 9.16667 6.66658 7.67428 6.66658 5.83333C6.66658 3.99238 8.15897 2.5 9.99992 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z" stroke="%23667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    }
    padding: 5px 25px;
    font: font.$text-md-regular;

    &.placeholder {
      font: font.$text-md-regular;
    }
  }
}
